body {
  margin: 0;
  padding: 0;
  background: #bed4ab;
  font-family: "Bowlby One", sans-serif;
  color: rgb(50, 43, 43);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-height: 0;
  transition: 0.5s;
  padding-bottom: 1rem;
}

.accordion {
  width: 70%;
  margin-bottom: 10rem;
}

.accordion__container {
  margin: 0 auto;
  color: #6a5acd;
}

input {
  display: none;
}

label {
  border-top: 0.2vh solid #8b8c88cf;
  padding-top: 2.5vh;
}

span {
  box-sizing: border-box;
}

.span-right {
  display: inline-block;
  width: 50%;
  text-align: end;
  opacity: 0;
}

.accordion__container:hover .span-right {
  opacity: 1;
  transition: 0.5s all;
}

.span-left {
  text-align: start;
  display: inline-block;
  width: 50%;
}

.span__icon {
  color: rgb(50, 43, 43);
}

input:checked + label > img {
  max-height: 100vh;
  transition: 0.5s;
}

input:hover + label > img {
  max-height: 100vh;
  transition: 0.5s;
}

img:hover {
  max-height: 100vh;
  transition: 0.5s;
}

label:active > img {
  opacity: 0.6;
}

input:checked + label > .span-right .span__icon {
  display: inline-block;
  transform: rotate(45deg);
  transition: 0.5s all;
}

input:checked + label > .span-left {
  color: rgb(50, 43, 43);
}

label:active > span {
  color: #6a5acd !important;
  transition: 0.5s all;
}

input:hover + label .span-right .span__icon {
  display: inline-block;
  transform: rotate(45deg);
  transition: 0.5s all;
}

@media (min-width: 820px) {
  body {
    font-size: 4vh;
  }

  label {
    cursor: pointer;
  }

  .span__icon {
    font-size: 6vh;
  }

  .accordion__container:hover .span-left {
    color: rgb(50, 43, 43);
  }
}

@media (max-width: 820px) {
  body {
    font-size: 2vh;
  }

  .span-right {
    opacity: 1;
  }

  .span__icon {
    font-size: 4vh;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 1.7vh;
  }

  .span-right {
    opacity: 1;
  }

  .span__icon {
    font-size: 2vh;
  }
}
