body {
  background: #bed4ab;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-height: 0;
  transition: 0.3s;
  cursor: pointer;
  padding-bottom: 1rem;
}

.accordion {
  width: 54rem;
  margin-bottom: 10rem;
}

.accordion__title {
  cursor: default;
}

.accordion__container {
  max-width: 64rem;
  margin: 0 auto;
  cursor: pointer;
}

input {
  display: none;
}

label {
  border-top: 0.01rem solid #8b8c88cf;
  cursor: pointer;
}

span {
  box-sizing: border-box;
}

.span-right {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.span-left {
  text-align: left;
  display: inline-block;
  width: 50%;
}

input:checked + label > img {
  max-height: 100vh;
  transition: 0.9s;
}

input:hover + label > img {
  max-height: 100vh;
  transition: 0.9s;
}

img:hover {
  max-height: 100vh;
  transition: 0.9s;
}

label:active {
  color: blue;
}

label:active img {
  opacity: 0.6;
}
